body {
    padding: 60px;
}

.submit-aria {
    margin-top: 40px;
    box-shadow: 5px 5px 25px gray;
    border-radius: 15px;
    padding: 40px;
}

#transaction-aria {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    margin: 0 20px;
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.status {
    margin: 0 20px;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
}